<mat-card>
    <mat-card-content>
      
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Atributos">
          <div class="demo-tab-content">
            <app-atributos></app-atributos>
          </div>
        </mat-tab>

        <mat-tab label="Endereços">
          <div class="demo-tab-content">

          </div>
        </mat-tab>
        
        <mat-tab label="A.N.S">
          <div class="demo-tab-content">

          </div>
        </mat-tab>

        <mat-tab label="Redes">
          <div class="demo-tab-content">

          </div>
        </mat-tab>    
       
       <mat-tab label="Documentação para Contratar">
          <div class="demo-tab-content">

          </div>
        </mat-tab>

        <mat-tab label="Formulários a Enviar">
            <div class="demo-tab-content">
   
            </div>
          </mat-tab>
          <mat-tab label="Cronograma">
            <div class="demo-tab-content">

            </div>
          </mat-tab>

          <mat-tab label="Beneficiários">
            <div class="demo-tab-content">

            </div>
          </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>